<!DOCTYPE html>
<html>
<head>
  <title>TicketShop</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "bootstrap-responsive.css" %>
  <%= stylesheet_link_tag "home" %>
  <%= javascript_include_tag "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
  <link rel="stylesheet" href="css/colors.css" />
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="main.js"></script>
</head>
<body>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to "Shopping Cart", cart_path %>
  </li>
  <li>
  <%= link_to('Account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>



<div class="container-fluid">
    <div class="row-fluid">
      <div class="row-fluid" id="header-section">
      <div class='span9 main-content' id='page-content'>
        <h1>Bulk<span>Tix</span></h1>
        <h2>Bigger. Better. Stronger.</h2>
        <div class="shopping-cart"></div>
        <h5>showing theaters near hopkinton</h5>
        <div class="span4"></div> <!-- for centering zip code -->
        <div class="span4 search-field">
          <input type="text" placeholder="Enter Zip Code">
          <button type="submit" class="btn btn-info">Find Theaters</button>
        </div>

<%= yield %>

      </div>
      </div>
    </div>
  </div>

</body>
</html>
